
<%- include("partials/header"); -%>
    <div class="CONTAINER">
      <div>
        <h1 style="color: white;">Hi, I am Nipun</h1>
        <div style="display:block;flex-direction: column; width: 250px; height: 300px;"><h1 style="font-size: 60px; color: white;">Programmer,Designer,Developer</h1><br></div>
        <p></p>
      </div>
    </div>
    
<%- include("partials/footer"); -%>
